#main {
  display: flex;
  flex-direction: column;

  color: black;
  background-color: rgb(236, 236, 236);
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  width: 100%;
}

#main a {
  color: black;
  text-decoration: none;
}

#main a:visited,
#main a:active {
  color: black;
}

#items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5%;

  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  border-radius: 6px;
  padding: 5%;
  margin: 5%;
  width: 80%;
}

#total_price {
  font-size: 1.3rem;
}

#checkout {
  background-color: #cebe93;
  border-radius: 6px;
  border: 0px;
  font-size: 1.2rem;
  width: 160px;
  height: 40px;
}

/* 
  //// css rules for tablets / smartphones on horizontal viewport ////
  */

@media (min-width: 600px) and (max-width: 1024px) {
  /* */
}

/* CSS rules for desktop devices */

@media (min-width: 1024px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  #total_price {
    font-size: 1.75rem;
  }

  #checkout {
    width: 200px;
    height: 40px;
    transition: transform 0.8s ease;
  }

  #checkout:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
